@use '../../../../theme/theme' as *;

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin: 0 !important;

  .input-label {
    font-weight: 600;
    color: $primary;
    font-size: .98rem;
    margin-bottom: 2px;
    .req {
      color: #f67c7c;
      font-weight: bold;
      margin-left: 1px;
    }
  }
  .form-input {
    // width: 100%;
    max-width: 400px;
    padding: 10px 13px;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1.4px solid #dae8e8;
    background: var(--bg-white);
    outline: none;
    transition: border .15s;
    &:focus {
      border: 1.7px solid $accent;
    }
    &.invalid {
      border: 1.5px solid #f67c7c;
    }
  }
  .error {
    color: #f67c7c;
    font-size: .96rem;
    margin: 0;
    margin-top: 2px;
  }
}
