.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--bg-white);
  backdrop-filter: blur(12px);
  border-top: 2px solid var(--border-color-accent);
  z-index: 50;

  .mobile-item {
    background: none;
    border: none;
    color: var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    i {
      font-size: 1.3rem;
    }

    span {
      font-size: 0.7rem;
    }
  }
}

/* Bottom Sheet */
.mobile-sheet {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  max-height: 55%;
  z-index: 60;

  background: var(--bg-white);
  backdrop-filter: blur(14px);
  border-radius: 16px 16px 0 0;
  box-shadow: var(--shadow-soft);

  transition: bottom 0.3s ease;

  &.open {
    bottom: 0;
  }

  .sheet-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 600;
    color: var(--color-text);

    button {
      background-color: transparent;
      color: var(--color-text);
      outline: none;
      border: none;
    }
  }

  .sheet-options {
    list-style: none;
    padding: 0 1rem;
    width: 100%;

    li {
        width: 100%;
        padding: 0.9rem 0;
        border-bottom: 4px solid var(--border-color-accent);

      a {
        color: var(--color-text) !important;
        text-decoration: none;
        padding-right: calc(60vw  - 0.9rem);
      }
    }
  }
}
