@use '../../../../theme/theme' as *;

.topic-details-page {
  max-width: 720px;
  margin: 0 auto;
  // padding: 32px 12px;
  // background-color: #232;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .topic-detail-card {
    // padding: .2rem 1.5rem;
    .topic-header {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      h2 {
        margin: 0;
        color: $primary;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .meta {
        color: $text-muted;
        font-size: 1rem;
      }
    }
    .topic-body {
      margin-top: 18px;
      font-size: 1.07rem;
      color: #232;
    }
  }

  .replies-section {
    .section-title {
      font-size: 1.15rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: $primary;
    }
    .reply-card {
      margin-bottom: 12px;
      .reply-header {
        display: flex;
        align-items: center;
        gap: .8rem;
        margin-bottom: 4px;
        .reply-author {
          font-weight: 500;
          color: $primary;
        }
        .reply-date {
          font-size: .9rem;
          color: $text-muted;
          margin-left: .7rem;
        }
      }
      .reply-body {
        font-size: 1rem;
        color: #2b2b2b;
        padding-left: 42px;
      }
    }
    .empty-state {
      color: $text-muted;
      text-align: center;
      margin: 30px 0 18px 0;
    }
    .skeleton-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .reply-form-section {
    background: transparent;
    padding: 1rem 1rem;
    .section-title {
      margin-bottom: .6rem;
      color: $primary;
      font-size: 1.09rem;
      font-weight: 600;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .reply-textarea {
        resize: vertical;
        min-height: 20px;
        max-height: 100px;
        padding: 10px;
        border-radius: 1rem;
        border: 1.3px solid #d4e5e7;
        font-size: 1rem;
        transition: border 0.18s;
        &:focus {
          outline: none;
          border: 1.7px solid $accent;
        }
        &.invalid {
          border: 1.5px solid #f67c7c;
        }
      }
      .form-error {
        color: #f67c7c;
        font-size: .97rem;
        margin-bottom: 0;
      }
      .btn {
        align-self: flex-end;
        margin-top: 8px;
        background: $primary;
        color: #fff;
        border: none;
        border-radius: 1rem;
        padding: 0.55rem 1.5rem;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.18s;
        &:disabled {
          opacity: .75;
          cursor: not-allowed;
        }
        &:hover:enabled {
          background: darken($primary, 7%);
        }
      }
    }
  }
}
